@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-primary: #10b981;
    --color-enemy: #ff0000;
}

@layer base {
   *{
    user-select: none;
   }
}