@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-primary: #10b981;
    --color-enemy: #ff0000;
}

@layer base {
   *{
    user-select: none;
   }
}

.boardItem::before {
    --s: 25px;
    /* the size on the corner */
    --t: 2px;
    /* the thickness of the border */
    --g: 20px;
    /* the gap between the border and image */
    content: '';
    position: absolute;
    inset: 10px;
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid orange;
    /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        conic-gradient(#000 0 0) content-box;
    transition: .4s;
}
